{% extends "base/base.html" %}

{% block title %}Password Reset Complete - Beacon ERP{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 text-center">Password Reset Complete</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <i class="fas fa-check-circle fa-3x mb-3 text-success"></i>
                    <p>Your password has been successfully reset.</p>
                    <p>You can now use your new password to log in to your account.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
