{% extends "base/base.html" %}

{% block title %}Password Reset Sent - Beacon ERP{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 text-center">Check Your Email</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-primary"></i>
                    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'login' %}">Return to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
